<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改多多373店铺')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-ddpayshop-edit" th:object="${ddpayshop}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">店铺名称：</label>
                <div class="col-sm-8">
                    <textarea name="name" class="form-control" readonly>[[*{name}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">appid：</label>
                <div class="col-sm-8">
                    <textarea name="appid" class="form-control" readonly>[[*{appid}]]</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">cookie：</label>
                <div class="col-sm-8">
                    <textarea name="cookie" class="form-control">[[*{cookie}]]</textarea>
                </div>
            </div>
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">收款方式：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="payMethod"  th:field="*{payMethod}" class="form-control" placeholder="0-支付宝，1-微信"  type="text">-->
<!--                </div>-->
<!--            </div>-->

            <div class="form-group">
                <label class="col-sm-3 control-label">状态:</label>
                <div class="col-sm-8">
                    <input name="status" th:field="*{status}" class="form-control" placeholder="0-正常，1-关闭" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">店铺最大收款金额：</label>
                <div class="col-sm-8">
                    <input name="cookieMaxOrder" th:field="*{cookieMaxOrder}" class="form-control" type="text">
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/ddpayshop";
        $("#form-ddpayshop-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-ddpayshop-edit').serialize());
            }
        }
    </script>
</body>
</html>
