<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.XiaoeCookieMapper">
    
    <resultMap type="XiaoeCookie" id="XiaoeCookieResult">
        <result property="id"    column="id"    />
        <result property="storeName"    column="store_name"    />
        <result property="account"    column="account"    />
        <result property="status"    column=" status"    />
        <result property="queueStatus"    column="queue_status"    />
        <result property="standbyStatus"    column="standby_status"    />
        <result property="port"    column="port"    />
        <result property="quantity"    column="quantity"    />
        <result property="succNum"    column="succ_num"    />
        <result property="failQuantity"    column="fail_quantity"    />
        <result property="remak"    column="remak"    />
        <result property="cookie"    column="cookie"    />
        <result property="created"    column="created"    />
    </resultMap>

    <sql id="selectXiaoeCookieVo">
        select id, store_name, account,  status, queue_status, standby_status, port, quantity, succ_num, fail_quantity, remak, cookie, created from xiaoe_cookie
    </sql>

    <select id="selectXiaoeCookieList" parameterType="XiaoeCookie" resultMap="XiaoeCookieResult">
        <include refid="selectXiaoeCookieVo"/>
        <where>  
            <if test="storeName != null  and storeName != ''"> and store_name like concat('%', #{storeName}, '%')</if>
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="status != null "> and  status = #{status}</if>
            <if test="queueStatus != null "> and queue_status = #{queueStatus}</if>
            <if test="standbyStatus != null "> and standby_status = #{standbyStatus}</if>
            <if test="port != null  and port != ''"> and port = #{port}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="succNum != null "> and succ_num = #{succNum}</if>
            <if test="failQuantity != null "> and fail_quantity = #{failQuantity}</if>
            <if test="remak != null  and remak != ''"> and remak = #{remak}</if>
            <if test="cookie != null  and cookie != ''"> and cookie = #{cookie}</if>
            <if test="created != null "> and created = #{created}</if>
        </where>
    </select>
    
    <select id="selectXiaoeCookieById" parameterType="Long" resultMap="XiaoeCookieResult">
        <include refid="selectXiaoeCookieVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertXiaoeCookie" parameterType="XiaoeCookie">
        insert into xiaoe_cookie
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="storeName != null">store_name,</if>
            <if test="account != null">account,</if>
            <if test="status != null"> status,</if>
            <if test="queueStatus != null">queue_status,</if>
            <if test="standbyStatus != null">standby_status,</if>
            <if test="port != null">port,</if>
            <if test="quantity != null">quantity,</if>
            <if test="succNum != null">succ_num,</if>
            <if test="failQuantity != null">fail_quantity,</if>
            <if test="remak != null">remak,</if>
            <if test="cookie != null">cookie,</if>
            <if test="created != null">created,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="storeName != null">#{storeName},</if>
            <if test="account != null">#{account},</if>
            <if test="status != null">#{status},</if>
            <if test="queueStatus != null">#{queueStatus},</if>
            <if test="standbyStatus != null">#{standbyStatus},</if>
            <if test="port != null">#{port},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="succNum != null">#{succNum},</if>
            <if test="failQuantity != null">#{failQuantity},</if>
            <if test="remak != null">#{remak},</if>
            <if test="cookie != null">#{cookie},</if>
            <if test="created != null">#{created},</if>
         </trim>
    </insert>

    <update id="updateXiaoeCookie" parameterType="XiaoeCookie">
        update xiaoe_cookie
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeName != null">store_name = #{storeName},</if>
            <if test="account != null">account = #{account},</if>
            <if test="status != null"> status = #{status},</if>
            <if test="queueStatus != null">queue_status = #{queueStatus},</if>
            <if test="standbyStatus != null">standby_status = #{standbyStatus},</if>
            <if test="port != null">port = #{port},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="succNum != null">succ_num = #{succNum},</if>
            <if test="failQuantity != null">fail_quantity = #{failQuantity},</if>
            <if test="remak != null">remak = #{remak},</if>
            <if test="cookie != null">cookie = #{cookie},</if>
            <if test="created != null">created = #{created},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXiaoeCookieById" parameterType="Long">
        delete from xiaoe_cookie where id = #{id}
    </delete>

    <delete id="deleteXiaoeCookieByIds" parameterType="String">
        delete from xiaoe_cookie where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>