<title>订单支付</title>

<div class=container-fluid>
    <div id='weixin-tip-box'>
        <div class="triangle_border_up">
            <span></span>
        </div>
        <div class="weixin-tip">
            <p>
                请点击右上角“···”
            </p>
            <p class="content">
                选择"浏览器中打开"
            </p>
        </div>
    </div>
</div>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    #weixin-tip-box {
        display: none;
        position: fixed;
        right: 0;
        top: 4px;
        align-items: center;
    }

    .weixin-tip {
        background: #40b2a8;
        z-index: 100;
        padding: 8px;
        border-radius: 8px;
        margin-right: 8px
    }

    .weixin-tip p {
        text-align: center;
        font-size: 20px;
        color: #fff
    }

    .weixin-tip p.content {
        text-align: center;
        font-size: 20px
    }

    .triangle_border_up {
        width: 0;
        height: 0;
        border-width: 0 12px 16px;
        border-style: solid;
        border-color: transparent transparent #40b2a8;
        /*透明 透明  灰*/
        margin-left: 140px
    }
</style>
<script>
    layui.use(['admin', 'form', 'fangsiHelper'], function () {
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            form = layui.form,
            router = layui.router(),
            search = router.search,
            fangsiHelper = layui.fangsiHelper;

        function is_weixin() {
            var ua = navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == "micromessenger") { //微信中打开网页
                return true;
            } else if (ua.match(/QQ/i) == "qq") { //qq里打开网页
                return true;
            } else {
                return false;
            }
        }

        var tip = document.getElementById('weixin-tip-box');
        if (is_weixin()) {
            tip.style.display = 'block';
            return false;
        } else {
            fangsiHelper.Post("api/outside/GetOrderInfo?orderId=" + search.order, {}, function (res) {
                if (res.code === 0) {
                    window.location.href = res.data.payUrl;
                } else {
                    layer.msg(res.msg, {
                        time: 1500
                    });
                }
            });
        }
        form.render();
    });
</script>